.container {
  background: yellow;
  max-width: 1460px;
  margin: auto; }

.products {
  font-size: 0; }

h5 {
  text-align: center;
  font-size: 18px;
  margin: 30px; }

.product {
  font-size: 14px;
  width: 100%;
  display: inline-block; }
  .product:nth-child(1n) img {
    -o-object-position: top;
       object-position: top; }
  .product:nth-child(1n) .img_bg {
    background-position: top; }
  .product:nth-child(2n) {
    background: grey; }
    .product:nth-child(2n) img {
      -o-object-position: bottom;
         object-position: bottom; }
    .product:nth-child(2n) .img_bg {
      background-position: bottom; }
  .product img, .product .img_bg {
    width: 100%;
    height: 100%; }
  .product img {
    -o-object-fit: cover;
       object-fit: cover; }
  .product .img_bg {
    background-repeat: no-repeat;
    background-size: cover; }
  .product a {
    display: block;
    width: 100%;
    height: 250px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .product {
    vertical-align: bottom;
    width: calc(50% - 10px);
    margin-bottom: 20px; }
    .product:nth-child(2n) {
      margin-left: 20px; } }

@media (min-width: 1024px) {
  .product {
    width: calc(33.3% - 20px);
    vertical-align: middle;
    margin-bottom: 30px; }
    .product:nth-child(2n) {
      margin-left: 0; }
    .product:nth-child(3n+2) {
      margin-left: 30px;
      margin-right: 30px; } }
