.container
  background: yellow
  max-width: 1460px
  margin: auto

.products
  font-size: 0

h5
  text-align: center
  font-size: 18px
  margin: 30px

.product
  font-size: 14px
  width: 100%
  display: inline-block

  &:nth-child(1n)
    & img
      object-position: top

    & .img_bg
      background-position: top

  &:nth-child(2n)
    background: grey

    & img
      object-position: bottom

    & .img_bg
      background-position: bottom

  img, .img_bg
    width: 100%
    height: 100%

  img
    object-fit: cover

  .img_bg
    background-repeat: no-repeat
    background-size: cover
  a
    display: block
    width: 100%
    height: 250px

@media (min-width: 768px) and (max-width: 1023px)
  .product
    vertical-align: bottom
    width: calc(50% - 10px)
    margin-bottom: 20px

    &:nth-child(2n)
      margin-left: 20px

@media (min-width: 1024px)
  .product
    width: calc(33.3% - 20px)
    vertical-align: middle
    margin-bottom: 30px

    &:nth-child(2n)
      margin-left: 0

    &:nth-child(3n+2)
      margin-left: 30px
      margin-right: 30px
